.container{
    background-image: url('/images/StJames_campus.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    /*background-size: cover;*/
    background-size: 100% 100%;
}
.row{
    display: flex;
    justify-content: center;
    padding: 30px 0 60px 0;
}

/*menu css*/
/* Navigation */

nav {
  height: 72px;
  width: 100%;
  margin: 0;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  z-index: 100;
}

nav a {
  padding: 0 32px;
  color: white;
  transition: 0.4s;
}

nav a:hover {
  text-decoration: none;
  color: deepskyblue;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.active {
  color: deepskyblue;
}

#menu-icon {
  height: 100%;
  font-size: 28px;
  padding: 0 4px;
  color: #eee;
  display: none;
  align-items: center;
}

/* Slideout Menu */

#slideout-menu {
  display: none;
  background: #2d3436;
  z-index: 100;
  position: fixed;
  transition: 0.4s;
  margin-top: 72px;
  width: 100%;
  text-align: center;
  opacity:0;
  pointer-events:none;
}

#slideout-menu ul {
  list-style: none;
  padding: 0 32px;
}

#slideout-menu ul li {
  padding: 8px;
}

#slideout-menu a {
  font-size: 20px;
  color: white;
}

#slideout-menu input {
  width: 85%;
  padding: 8px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  text-align: center;
}

/*end of menu css*/


/*-------------------section---------------------------*/
section{
    padding: 50px 30px 50px 30px;
    display: flex;
    justify-content: center;
}
.sectioncontainer{
    align-content: center;
    width: 50%;
    background-color: #D3D3D395;
    padding: 20px;
}
.sectionrow{
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}
.sectionrowinner{
    width: 100%;
    display: flex;
    justify-content: center;
}
.abouttitle{
    color: white;
    font-size: 24pt;
    margin: 0;
}
.aboutp{
    color: white;
    width: 80%;
}
/*-------------------end of section---------------------------*/

/*-------------------------footer--------------------------*/
footer{
    background-color: black;
    color: white;
    padding: 20px 0 20px 0;
}
.footercr{
    display: flex;
    justify-content: center;
    margin: 0;
}
.fcr{
    width: 45%;
    text-align: center;
}
 /*----------------------end of footer--------------------------*/

/*media queries*/
@media (max-width: 900px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: flex;
  }

  #slideout-menu {
    display: block;
  }

  #searchbox {
    display: none;
  }

  .sectioncontainer{
    width: 70%;
  }
}

@media (max-width: 719px) {
  main {
    width: 95%;
  }

}

@media (max-width: 600px) {
  main {
    width: 90%;
  }
  
  .footerp1{
    font-size: 8pt;
  }
  .footerp2{
    font-size: 8pt;
  }
  .footercr{
    font-size: 8pt;
  }

}

@media (min-width: 720px) {
  main {
    width: 95%;
  }
 
}

@media (min-width: 1200px) {
  main {
    width: 95%;
  }

}
